body{
	/*background-color: #000000;*/
}
html{
	width: 100%;
}
#coco_div{
	position: fixed;
	width: 100%;
	height: 25px;
	/*background-color: rgb(202,219,42);*/
	background-color: #242729;
	z-index: 99999;
	bottom:0px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.8;
}