*{
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
body{

}
#body-fix{
	background-color: #EEEEEE;
	padding: 0;
	margin: 0;
	width: 230px;
}
.button-warrper{
	text-align: center;
	padding: 5px;
}
button:focus{
	outline: none;
}
.btn_selected{
	background-color: #5cb85c;
}
.l-spacing{
	height: 45px;
}